2. Hectra Backend/backend/.venv
2. Hectra Backend/backend/__pycache__
2. Hectra Backend/backend/.vscode
2. Hectra Backend/.env
2. Hectra Backend/scanner-app/.env
2. Hectra Backend/backend/gmail_credentials.json
2. Hectra Backend/backend/gmail_token.json
2. Hectra Backend/backend/credentials.json